
.buttonsContainer {
    margin:auto;text-align:center;display:flex;justify-content:space-evenly;width:70%;align-items:center;height:50px;
}


@media (max-width:600px) {
    .buttonsContainer {
      flex-direction: column;
      height: auto;
    }
 

}
@media (max-width:524px) {


    .dates {
        width: auto;
    }
}

@media (max-width: 360px) {
    .dates {
           grid-gap:5px;
    }


}

@media (max-width: 250px) {
    .dow {
        font-weight: normal;
    }

    
}