*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-size: 1.5em;
    font-weight: 100;
  
  }
  
  .calendar {
    transform: translate3d(0, 0, 0);
    width: 100vw;
  }
  li {
      text-decoration: none;
      list-style: none;
  }
  .header {
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
  }
  
  .fade-enter {
    /*overflow: hidden;*/
    opacity: 0;
  }
  
  .fade-enter-active {
    animation: fadeIn 1s ease-out;
    opacity: 1;
  }
  
  .month.in.next {
    animation: moveFromTopFadeMonth 0.4s ease-out;
    opacity: 1;
  }
  
  .month.out.next {
    animation: moveToTopFadeMonth 0.4s ease-in;
    opacity: 1;
  }
  
  .month.in.prev {
    animation: moveFromBottomFadeMonth 0.4s ease-out;
    opacity: 1;
  }
  
  .month.out.prev {
    animation: moveToBottomFadeMonth 0.4s ease-in;
    opacity: 1;
  }
  
  .dates {
  
    display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 35px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-gap:10px;
  grid-auto-rows:35px;
  grid-auto-columns:1fr;
  padding:0;
  justify-content: center;
  width:456px;
  margin:auto;
  /* height:300px; */
  }
  
  .day {
    text-align: center;
    cursor: pointer;
    color:#000
  }
  
  .dow {
  
    text-align: center;
   
    color: #000;
    font-weight: bold;
  }
  
  
  .dow {
   
    position: relative;
   
  }
  
   .day {
  
     
    border-radius:5px;
      border:1px solid #ccc;
      position:relative;
  }
  
  
  .day span  , .dow span{
      position : absolute;
      top:50%;
      left:50%;
      transform:translate(-50% , -50%);
      font-size:18px;
      text-decoration: underline;
  
  }
  
  .dow span {
    text-decoration: none;
  }
  
  
  .day-name {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 0.7px;
  }
  
  .day-number {
    font-size: 24px;
    letter-spacing: 1.5px;
  }
  
  
  
  .activo {
     background:#9EB23B;
     color:#fff;
      
  }
  
  .inactivo {
    border:none;
  }
  
  .ocupado {
    background: rgba(253, 138, 138 , 0.2);
    color:#B2B2B2;
    cursor:not-allowed
  }
  
  
  .el-button+.el-button {
    margin-left:0;
  }